body {
    background-color: #DAEB72;
    margin: 0%;
    font-family: 'Inter', sans-serif;
}


.top-link {
    display: inline;
    font-family: cursive;
    font-size: 24px;
    color: #51620D;
}

.main-container {
    /* position: absolute; */
    margin-left: 138px;
}

.bottom-container {
    margin-top: 7%;
}

.main-text{
    display: block;
    color: #478BE7;
    stroke: #DE9700;
    font-size: 64px;
    font-weight: 800;
}

.secondary-text{
    display: block;
    color: #51620D;
    font-size: 64px;
    font-family: Koulen, Arial, Helvetica, sans-serif;
}

.long-text{
    display: block;
    width: 441;
    color: #51620D;
    font-weight: 600;
    font-size: 17px;
}

.contact {
    float: right;
    font-weight: 100;
    font-size: 24px;
}

/* images */
.watch {
    position: absolute;
    right: -1%;
    top: -11%;
    transform: rotate(-47.47deg);
}

.strokes-image {
    left: 0%;
}

@media screen and (max-width: 890px) {
    .main-container {
        display: block;
        position: static;
    }
    .watch {
        display: block;
        text-align: center;
        position: static;
        /* transform: rotate(0deg); */
        margin-top: -10%;
    }
    .watch-image {
        width: 50%;
    }
    .contact {
        float: none;
    }
    .main-container {
        margin-left: 10px;
    }
    .main-text, .secondary-text{
        font-size: 44px;
    }
    .contact{
        font-size: 18px;
    }
    .long-text{
        font-size: 12px;
    }
} 